/* src/Login.css */

.loginForm {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #222;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.inputField {
  margin-bottom: 15px;
}

.inputField label {
  display: block;
  margin-bottom: 5px;
}

.inputField input {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}
